/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* splash css */
.splash-nav {
    display: block;
}
.splash-nav li{
    list-style-type: none;
    display: flex;
}
 .title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;


 }
 .splash-nav img {
    width: 60px;
    height: 60px;
 }
 .login-button a {
    color: #21a72c;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #00a82d;
    padding-right: 30px;
    padding-left: 30px;
    width: 50px;
    line-height: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    font-family: Soleil,Helvetica,Arial,sans-serif;
 }
 .login-button a:hover {
    border: 2px solid limegreen;
    color: limegreen;
 }
 .signup-button {
    margin-left: 0;
 }

 .signup-button a {
    
    text-decoration: none;
    font-family: Soleil,Helvetica,Arial,sans-serif;
    color: #21a72c;
    display: block;
    
 }

  .signup-button a:hover {
      color: limegreen;
  }
 

 .splash-buttons {
    font-family: Soleil,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
    display: block;
    margin-right: 0;
 }
/* login css */
.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}
.log-in-evernote {
    font-weight: bold;
    font-size: 40px;
}
.log-in-form h1 {
    margin-top: 2px;
    margin-bottom: 15px;
}
.log-in-form h3 {
    margin-bottom: 20px;
}

.log-in-form img {
    width: 100px;
    height: 100px;
}
 .log-in-form .enter-username a {
     text-decoration: none;
     display:flex;
     justify-content: center;
     padding: 20px 130px;
     line-height: 10px;
     color: honeydew;
 }
 .log-in-form .enter-username {
    background-color: limegreen;
    width: 320px;
    line-height: 50px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
  .log-in-form .enter-username:hover {
    background-color: forestgreen;
  }

 .redirect-to-login-signup a {
     color: limegreen;
     text-decoration: none;
 }
 .redirect-to-login-signup a:hover {
    color: forestgreen;
 }



 /* sign up css */

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}
.sign-up-form .sign-up-continue a {
    text-decoration: none;
     display:flex;
     justify-content: center;
     padding: 20px 130px;
     line-height: 10px;
     color: honeydew;
 }
.sign-up-form .sign-up-continue:hover {
    background-color: forestgreen;
  }
.sign-up-form h1 {
    margin-top: 2px;
    margin-bottom: 15px;
}

.sign-up-form h3 {
    margin-bottom: 20px;
}
.sign-up-continue {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign-up-form .sign-up-continue {
    background-color: limegreen;
    width: 320px;
    line-height: 50px;
    border-radius: 12px;
}

.sign-up-form img {
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
}


