/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* splash css */
.splash-nav  {
    display: flex;
    justify-content: space-around;
    
}
.splash-nav li{
    list-style-type: none;
    display: flex;
}
 .title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;


 }
 .splash-nav img {
    width: 80px;
    height: 80px;
 }
 .login-button a {
    color: #21a72c;
    text-decoration: none;
    display: flex;
    border: 2px solid #00a82d;
    padding-right: 30px;
    padding-left: 30px;
    width: 50px;
    line-height: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    margin-left: 15px;
    font-family: Soleil,Helvetica,Arial,sans-serif;
 }
 .login-button a:hover {
    border: 2px solid limegreen;
    color: limegreen;
    cursor: pointer;
 }

 .splash-buttons {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
 }

.splash-nav-left{
    margin-top: 50px;
    display: flex;
    margin-left: -300px;
}
.splash-nav-left img {
    margin-top: -15px;

}
 .signup-button a {
    display: flex;
    margin-top: 8px;
    margin-right: 15px;
    text-decoration: none;
    font-family: Soleil,Helvetica,Arial,sans-serif;
    color: #21a72c;
   
    
 }
 .splash-buttons p {
     margin-top: 8px;
 }

  .signup-button a:hover {
      color: limegreen;
      cursor: pointer;
  }
 

 .splash-buttons {
    font-family: Soleil,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-align: right;
    margin-right: -300px;
 }
/* login css */

.log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 200px;
    width: 515px;
    border: 1px solid red;

    height: 635px;

}
.log-in-evernote {
    font-weight: bold;
    font-size: 40px;
}
.log-in-form h1 {
    margin-top: 2px;
    margin-bottom: 15px;
}
.log-in-form h3 {
    margin-bottom: 20px;
}

.log-in-form img {
    width: 100px;
    height: 100px;
    margin-top: -10px;
}
 .log-in-form .enter-username a {
     text-decoration: none;
     display:flex;
     justify-content: center;
     padding: 20px 130px;
     line-height: 10px;
     color: honeydew;
     
 }
 .log-in-form .enter-username {
    background-color: limegreen;
    width: 350px;
    line-height: 50px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
 }
  .log-in-form .enter-username:hover {
    background-color: forestgreen;
    cursor: pointer;
  }
  .log-in-email-input {
    width: 350px;
    height: 30px;
    margin-bottom: 6px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1p solid #e6e6e6;
  }


 .redirect-to-login-signup a {
     color: limegreen;
     text-decoration: none;
     margin-bottom: -200px;
 }
 .redirect-to-login-signup a:hover {
    color: forestgreen;
    cursor: pointer;
 }



 /* sign up css */
.outerdiv {
    display:flex;
    justify-content: center;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
  
    margin-bottom: 200px;
    width: 515px;
    border: 1px solid red;

    height: 635px;

}
.sign-up-form p {
    width: 260px;
    font-size: 12px;
    text-align: center;
    
}

.sign-up-form .sign-up-continue button:hover {
    color: honeydew;
    cursor: pointer;
    background-color: forestgreen;
  }
.sign-up-form h1 {
    margin-top: 2px;
    margin-bottom: 15px;
}

.sign-up-email {
    width: 250px;
    height: 30px;
    margin-bottom: 6px;
    border-radius: 10px;
    /* round edges */
}
.sign-up-password {
    width: 250px;
    height: 30px;
    border-radius: 10px;
}
.sign-up-form h3 {
    margin-bottom: 20px;
}
.sign-up-continue {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign-up-form .sign-up-continue button {
    background-color: limegreen;
    width: 320px;
    line-height: 50px;
    border-radius: 12px;
    color: honeydew;
}

.sign-up-form img {
    margin-top: -100px;
    width: 100px;
    height: 100px;
}


