.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-note-modal{
  height: 300px;
  width: 550px;
  background-color: white;
  border: 1px solid black;
}
.new-note-modal h1, h5, input, form, span{
  display: flex;
  justify-content: column;
}

.new-note-modal h1 {
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
  margin-bottom: 20px;
}
.new-note-modal h5 {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  word-wrap: break-word;
  font-weight: 300;
  font-family: sans-serif;
  margin-left: 25px;
}
.new-note-modal input {
  outline: none;
  width: 460px;
  margin-left: 25px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.tag-edit-modal {
  height: 260px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
}

.tag-edit-modal-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tag-edit-modal-top h1 {
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
  
}
.tag-edit-modal h3{
  color: gray;
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 25px;
}

.tag-edit-modal-top i {
  margin-right: 25px;
}

.tag-edit-modal h5, h3, input, form, span{
  display: flex;
  flex-direction: column;

}
.tag-edit-modal input {
  outline: none;

  width: 420px;
  margin-left: 25px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;

}

.tag-edit-modal span {
  margin-bottom: 65px;
}


.invalid{
  color: white;
  background-color: #dcdfe3;
  width: 65px;
  height: 45px;
  outline: none;
  cursor: default;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 10px 15px;
  margin-left: 400px; 

}
.valid{
  color: white;
  background-color: forestgreen;
  outline: none;
  width: 65px;
  height: 45px;
  border-radius: 4px;
  font-weight: 400;
  margin-left: 400px; 
  padding: 10px 15px 10px 15px;
  font-size: 14px;
}

.tag-delete-modal {
  height: 200px;
  width: 550px;
  background-color: white;
  border: 1px solid black;
}
.tag-delete-modal-top{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tag-delete-modal-top h1 {
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
}
.tag-delete-modal-top i {
  margin-right: 25px;
}

.tag-delete-modal button {
  color: white;
  background-color: tomato;
  outline: none;
  width: 75px;
  height: 45px;
  border-radius: 4px;
  font-weight: 400;
  margin-left: 450px; 
  padding: 10px 15px 10px 15px;
  font-size: 14px;
}

.tag-delete-modal h3, input, form, span{
  display: flex;
  justify-content: center;
}

.tag-delete-modal h3 {
  font-family: sans-serif;
  word-wrap: break-word;
  margin-bottom: 35px;
  font-weight: 500;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.new-notebook-modal{
  height: 350px;
  width: 550px;
  background-color: white;
  border: 1px solid black;
}
.new-notebook-modal-top{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}

.new-notebook-modal-top h1 {
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
}

.new-notebook-modal-top i {
  margin-right: 25px;
}


.new-tag-modal{
  height: 260px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
}
.tag-new-modal-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tag-new-modal-top h1{
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
}
.tag-new-modal-top i{
  margin-right: 25px;
}

.new-tag-modal h1, input, span{
  display: flex;
  flex-direction: column;
}
.new-tag-modal span {
  margin-bottom: 65px;
}

.new-tag-modal h3 {
  color: gray;
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 25px;
}

.new-tag-modal input {
  outline: none;
  width: 420px;
  margin-left: 25px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.new-notebook-modal  h5, h3, input, span{
  display: flex;
  flex-direction: column;
}
.new-notebook-modal input {
  outline: none;
  width: 460px;
  margin-left: 25px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
}

.new-notebook-modal h3{
  margin-left: 25px;
  margin-bottom: 25px;
}
.new-notebook-modal h5 {
  margin-left: 25px;
  margin-bottom: 5px;
}

.new-notebook-modal h1 {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: sans-serif;
  font-weight: 600;

  font-size: 100%;
}
.new-notebook-modal h5 {

  color: gray;
}



.notebook-edit-modal{
  height: 260px;
  width: 530px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.notebook-edit-top {
  display:flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  margin-top: 30px;
}
.notebook-edit-top h1{
  margin-left: 25px;
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
}
.notebook-edit-top i {
  margin-right: 25px;
}

.notebook-edit-modal h3, input, form, span{
  display: flex;
  justify-content: center;
}
.notebook-edit-modal h3 {
  margin-left: 25px;
  color: gray;
  margin-bottom: 5px;
}
.notebook-edit-modal input {
  outline: none;
  width: 460px;
  margin-left: 25px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
}



.notebook-delete-modal{
  height: 200px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  
}

.noteboook-delete-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 35px;
}
.noteboook-delete-top h1 {
  margin-left: 25px;
}

.noteboook-delete-top i {
  margin-right: 25px;
}

.notebook-delete-modal button {
  color: white;
  background-color: tomato;
  outline: none;
  height: 35px;
  width: 90px;
  margin-top: 30px;
}

.notebook-delete-modal h3{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notebook-delete-modal form{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
}


.notebook-drop-down-modal{
  height: 180px;
  width: 230px;
  background-color: white;
  border: 1px solid black;
}

.notebook-drop-down-modal p{
  display: flex;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notebook-drop-down-modal span {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notebook-drop-down-modal button {
  outline: none;
  border: none;
  width: 100%;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

.notebook-drop-down-modal button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}


.note-drop-down-modal{
  height: 180px;
  width: 230px;
  background-color: white;
  border: 1px solid black;
}

.note-drop-down-modal p {
  display: flex;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.note-drop-down-modal span {
  width: 100%;
  display: flex;
  justify-content: center;
}

.note-drop-down-modal button {
  outline: none;
  border: none;
  width: 100%;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

.note-drop-down-modal button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.note-delete-modal {
  height: 200px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.note-delete-modal-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

.note-delete-modal-top h1{
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
}

.note-delete-modal-top i {
  margin-right: 25px;
}

.note-delete-modal button{
  color: white;
  background-color: tomato;
  outline: none;
  width: 70px;
  height: 45px;
  border-radius: 4px;
  font-weight: 400;
  margin-left: 400px; 
  padding: 10px 15px 10px 15px;
  font-size: 14px;
}

.note-delete-modal h3, input, form, span{
  display: flex;
  justify-content: center;
}

.note-delete-modal h3 {
  margin-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tag-drop-down-modal{
  height: 205px;
  width: 340px;
  background-color: white;
  border: 1px solid black;
}

.tag-drop-down-modal span{
  height: 10%;
  width: 100%;
}

.tag-drop-down-modal span:hover{
  background-color: whitesmoke;
}

.tag-drop-down-buttons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.tag-drop-down-buttons button{
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #fff;
}
.tag-drop-down-buttons button:hover{
  background-color: whitesmoke;
}

.logout-modal{
  height: 160px;
  width: 340px;
  background-color: white;
  border: 1px solid black;

}
.logout-modal button {
  border: none;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: 600;
  font-size: 14px;
  background-color: #fff;

}
.logout-modal button:hover {
  background-color: whitesmoke;
}

.note-edit-modal{
  height: 300px;
  width: 550px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.note-edit-modal-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

.note-edit-modal-top h1{
  font-size: 25px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 25px;
}

.note-edit-modal-top i {
  margin-right: 25px;
}

.note-edit-modal h3{
  color: gray;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 25px;
}
.note-edit-modal span {
  margin-bottom: 70px;
}
.note-edit-modal input{
  outline: none;
  width: 460px;
  margin-left: 25px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.note-edit-modal form{
  margin-left: 70px;
}

.tag-search-modal{
  height: 300px;
  width: 260px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.tag-name-item{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px; 
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.tag-name-item:hover{
  background-color: whitesmoke;
}

.tag-search-modal input{
  outline: none;
  width: 170px;
  margin-left: 25px;
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.tag-search-modal ul {
  overflow-y: scroll;
}

.tag-all-delete-modal{
  height: 300px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.tag-all-delete-modal button {

  color: white;
   background-color: tomato;
   outline: none;
   width: 75px;
   height: 45px;
   border-radius: 4px;
   font-weight: 400;
   margin-top: 50px;
   margin-left: 400px; 
   padding: 10px 15px 10px 15px;
   font-size: 14px;
}

.tag-all-delete-modal h3, input, form, span{
  display: flex;
  justify-content: center;
}

.tag-all-delete-modal h3 {
  font-family: sans-serif;
  word-wrap: break-word;
  margin-bottom: 35px;
  font-weight: 500;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
