.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-note-modal{
  height: 34%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}
.new-note-modal h1, h5, input, form, span{
  display: flex;
  justify-content: center;
}

.new-note-modal h1 {
  margin-top: 3%;
  margin-bottom: 3%;
}
.new-note-modal h5 {
  margin-top: 3%;
  margin-bottom: 1%;
}
.new-note-modal input {

  outline: none;
}

.tag-edit-modal {
  height: 34%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}


.tag-edit-modal h5, h3, input, form, span{
  display: flex;
  justify-content: center;
}
.tag-edit-modal input {
  outline: none;
}


.tag-edit-modal h1 {
  margin-top: 3%;
  margin-bottom: 3%;

}
.tag-edit-modal h5 {
  margin-top: 3%;
  margin-bottom: 1%;
}

.tag-edit-modal span {
  margin-bottom: 2%;
}

.tag-edit-modal button {
  color: white;
  background-color: forestgreen;
  height: 10%;
  outline: none;
}

.tag-delete-modal {
  height: 34%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}

.tag-delete-modal button {
  color: white;
  background-color: tomato;
  height: 10%;
  outline: none;
}

.tag-delete-modal h5, h3, input, form, span{
  display: flex;
  justify-content: center;
}

.new-notebook-modal{
  height: 35%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}


.new-tag-modal{
  height: 35%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}
.new-tag-modal button {
  color: white;
  background-color: forestgreen;
  outline: none;
}

.new-tag-modal h1, input, span{
  display: flex;
  justify-content: center;
}
.new-tag-modal h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.new-tag-modal h3 {
  margin-bottom: 5%;
}
.new-tag-modal input {
  margin-bottom: 5%;
}

.new-notebook-modal h5, input, span{
  display: flex;
  justify-content: center;
}
.new-notebook-modal input {
  outline: none;
}

.new-notebook-modal button {
  color: white;
  background-color: forestgreen;
  outline: none;
}


.new-notebook-modal h1 {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: sans-serif;
  font-weight: 600;
  // font-size: 18px;
  font-size: 100%;
}
.new-notebook-modal h5 {
  margin-top: 3%;
  margin-bottom: 1%;
  color: gray;
}

.new-notebook-modal span {
  margin-bottom: 2%;
}


.notebook-edit-modal{
  height: 34%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}
.notebook-edit-modal h5, h3, input, form, span{
  display: flex;
  justify-content: center;
}
.notebook-edit-modal input {
  outline: none;
}


.notebook-edit-modal h1 {
  margin-top: 3%;
  margin-bottom: 3%;

}
.notebook-edit-modal h5 {
  margin-top: 3%;
  margin-bottom: 1%;
}

.notebook-edit-modal span {
  margin-bottom: 2%;
}

.notebook-edit-modal button {
  color: white;
  background-color: forestgreen;
  height: 10%;
  outline: none;
}

.notebook-delete-modal{
  height: 34%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}

.notebook-delete-modal button {
  color: white;
  background-color: tomato;
  height: 10%;
  outline: none;
}

.notebook-delete-modal h5, h3, input, form, span{
  display: flex;
  justify-content: center;
}

.notebook-drop-down-modal{
  height: 15%;
  width: 12%;
  background-color: white;
  border: 1px solid black;
}

.notebook-drop-down-modal p, span {
  display: flex;
  justify-content: center;
}

.note-drop-down-modal{
  height: 15%;
  width: 12%;
  background-color: white;
  border: 1px solid black;
}

.note-drop-down-modal p, span {
  display: flex;
  justify-content: center;
}

.note-delete-modal {
   height: 34%;
  width: 28.5%;
  background-color: white;
  border: 1px solid black;
}

.note-delete-modal button{
  color: white;
  background-color: tomato;
  height: 10%;
  outline: none;
}

.note-delete-modal h5, h3, input, form, span{
  display: flex;
  justify-content: center;
}