.notebooks-index-main {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.notebooks-index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.notebook-show {
    width:100%;
    height: 100%;
}
.notebook-show ul {
    width: 18%;
}
.notebook-show-title {
    display: flex;
    width: 18%;
    flex-direction: column;
}

.notebook-show-title h1{
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 100px;
}
.notebooks-index-right {
    
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 87.5%;
}

.notebooks-index-right h1 {
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}

.notebooks-index-right h3 {
    margin-top: 2.5%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    padding-bottom: 1%;
    border-bottom: 3px solid #333;
}



.notebooks-index a {
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}