.notebooks-index-main {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.notebooks-index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.notebook-show {
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    display: grid;
    width:100%;
    height: 100%;
}
.notebook-show h1 {
    font-weight: 400;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.notebook-show ul {
    /* // width: 18%;
    // height: 100%; */
    grid-area: 2 / 1 / 3 / 2;
    border-right: 1px solid lightgray;
    overflow-y: scroll;
    /* // min-width: 350px; */
}
.notebook-show-title {
    grid-area: 1 / 1/ 2/ 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* // overflow: hidden
    // min-width: 350px; */
    flex-direction: column;
}
.notebook-show-title form {
    display: flex;
    /* // justify-content: left; */
    padding-top: 13%;
}
.notebook-show-title button {
    width: 110px;
    height: 25px;
    background-color: lightcoral;
    color: white;
}

.notebooks-index-list li {
    /* // background-color: whitesmoke; */
    display: flex;
    justify-content: space-around;
}
.notebooks-index-list li a {
    color: black;
  
}
.notebooks-index-list li a:hover {
    text-decoration: underline;
}

.notebook-index-table {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}

.notebook-note-index{
    display:flex;
    flex-direction: column;
}
.notebook-note-index-item{
    display: flex;
    align-items: center;
    height: 40px;
}

.fa-sticky-note{
    color: lightgray;
}


.selectedNotebook {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}
.notebook-index-table h4 {
    color: #777;
}

.notebook-index-table-title {
    display: inline-block;
    margin-left: 4.55%;
    width: 150px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.notebook-index-table-title a {
    color: #313131;

}


.index-of-notebooks li:nth-child(even):hover{
    background-color: whitesmoke;
}
.index-of-notebooks  li:nth-child(odd):hover{
    background-color: whitesmoke;
}

.index-of-notebooks li:nth-child(odd) {
    background-color: white;
}
.index-of-notebooks li:nth-child(even) {
    background-color: #f8f8f8;
}


.notebook-index-table-email {
    display: inline-block;
    margin-left: 30.5%;
}

.notebook-index-table-time {
    display: inline-block;
    margin-left: 1%;
    width: 150px;

}
.fa-caret-right{
    cursor: pointer;
}
.notebook-index-table-button {
    margin-left: 30%;
    cursor: pointer;
}

button {
    cursor: pointer;
     outline: none;
}
.notebooks-index-list li:nth-child(even):hover{
    background-color: whitesmoke;
}
.notebooks-index-list li:nth-child(odd):hover{
    background-color: whitesmoke;
}

.notebooks-index-list li:nth-child(even) {
    background-color: white;
}
.notebooks-index-list li:nth-child(even) {
    background-color: whitesmoke;
}




.notebook-show-title{
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #f8f8f8;
}
.notebook-show-title h1{
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
}
.notebooks-index-right {
    overflow-y: scroll;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 87.5%;

}

.notebook-index-header2{
    display: flex;
    
    justify-content: space-between;
    /* // align-items: end; */
    height: 50%;
}
.notebook-index-header2 input{
    outline: none;
}

.notebook-index-header2 form{
    margin-right: 4.5%;
    margin-top: 25px;
}
.notebook-index-header2 h3{
    margin-top: 35px;
    font-size: 15px;
    /* // color: darkslategrey; */
    font-size: 500;
}

.notebooks-index-right h1 {
    margin-top: 1.5%;
    /* // margin-left: 1.5%; */
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}

.notebooks-index-right h3 {
    /* // margin-top: 2.5%;
    // margin-bottom: 1%;
    // margin-left: 1.5%; */
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    /* // padding-bottom: 1%; */
}

 .new-notebook-button{
   font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #00a82d;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;
}



.notebooks-index a {
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notebook-table-labs {
    display: flex;
    background-color: #f8f8f8;
    align-items: center;
    height: 40px;
}
.notebook-index-note-title {
    display: inline-block;
    margin-left: 7.5%;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.notebook-index-note-title a{
    color: black;
}
.notebook-index-note-title a:hover{
    text-decoration: underline;
}

.notebook-index-note-email {
    display: inline-block;
    margin-left: 27.5%;
}

.notebook-index-note-time{
    display: inline-block;
    margin-left: 1%;
    width: 150px;
}

.notebook-index-note-button{
    margin-left: 30%;
    cursor: pointer;
}

.notebook-table-labs:hover {
    background-color: whitesmoke;
}



.notebook-table-label-title {
    display: inline-block;
    margin-left: 4.55%;
    width: 2.5%;
    color: #b3b3b3;
    display:flex;
    flex-direction: row;
    /* // overflow: hidden; */
}
.notebook-table-label-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.notebook-table-label-email{
    display: inline-block;
    margin-left: 38%;
    color: #b3b3b3;
}

.fa-book{
    margin-right: 8px;
}
.notebook-table-label-time{
    display: inline-block;
    margin-left: 4%;
    color: #b3b3b3;
    display: flex;
    flex-direction: row;
}

.notebook-table-label-actions{
    margin-left: 35%;
    color: #b3b3b3;
}

.notebook-index-top{
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.notebook-index-top input {
    outline: none;
    margin-right: 1.75%;
    width: 180px;
    height: 30px;
    margin-top: 1.5%;
}

.notebook-index-top-div{
    height: 130px;
    border-bottom: 3px solid #333;
    margin-left: 30px;
}

.notebook-index-table-title a:hover{
    text-decoration: underline;
}

.notebook-show-bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
}

.move-left{
    margin-left: 5%;
}