.outerdiv {
    display:flex;
    justify-content: center;
    background-image: image-url('background-green.png');
    height: 100%;
    width: 100%;
    background-size: 200px 200px;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
  
    margin-bottom: 200px;
    width: 515px;
    border: 1px solid red;

    height: 635px;

}
.sign-up-form p {
    width: 260px;
    font-size: 12px;
    text-align: center;
    
}

.sign-up-form .sign-up-continue button:hover {
    color: honeydew;
    cursor: pointer;
    background-color: forestgreen;
  }
.sign-up-form h1 {
    margin-top: 2px;
    margin-bottom: 15px;
}

.sign-up-email {
    width: 250px;
    height: 30px;
    margin-bottom: 6px;
    border-radius: 10px;
    /* round edges */
}
.sign-up-password {
    width: 250px;
    height: 30px;
    border-radius: 10px;
}
.sign-up-form h3 {
    margin-bottom: 20px;
}
.sign-up-continue {
    margin-top: 10px;
    margin-bottom: 10px;
}


.sign-up-form .sign-up-continue button {
    background-color: limegreen;
    width: 320px;
    line-height: 50px;
    border-radius: 12px;
    color: honeydew;
}

.sign-up-form img {
    margin-top: -100px;
    width: 100px;
    height: 100px;
}