.outerdiv {
    display:flex;
    justify-content: center;
    background-image: image-url('background-for-login-signup.png');
    
    background-color: mintcream;
    background-size: 20% 20%;
    z-index: 1;

}
.sign-up-form {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 6.5%;
    background-color: white;
    margin-bottom: 10.5%;
    width: 27%;
    height: 670px;
   
  
    border: 1px solid white;
}


.sign-up-middle li {
    color: red;
    font-family: sans-serif;
}
.sign-up-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20%;
    // height: 180px;
    // border: 1px solid orange;
}
.sign-up-top img {
    margin-left: 21%;
    margin-top: -50%;
    width: 60%;
    height: 60%;
    
}
.sign-up-top h1 {
    margin-left: 6%;
   
    margin-bottom: 1%;
}

.sign-up-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid purple;
}
.sign-up-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 18.5%;
    // border: 1px solid green;
}

.sign-up-form p {
    width: 57%;
    font-size: 12px;
    text-align: center;
    
}

.sign-up-continue button:hover {
    color: honeydew;
    cursor: pointer;
    background-color: forestgreen;
    outline: none;
  }


.sign-up-email {
    width: 95%;
    height: 40px;
    margin-bottom: 1.5%;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #e6e6e6;
   
}
.sign-up-password {
    width: 95%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #e6e6e6;
    font-size: 16px;
}

.sign-up-continue {
    margin-top: 2%;
    margin-bottom: 2px;
}

.demo-button button{
    width: 320px;
    line-height: 45px;
    border-radius: 12px;
    color: black;
    border: 1px solid black;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
 .sign-up-continue button {
    background-color: limegreen;
    width: 320px;
    line-height: 45px;
    border-radius: 12px;
    color: honeydew;
    font-size: 16px;
    outline: none;
    
}


.redirect-to-login-signup {
    display: flex;
    margin-top: 5%; 
    margin-bottom: 5%;
}
