.splash-nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
 
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
    
}

.splash-body {
    background-image: image-url('background-green.png');
    background-color: #00a82d;
    width: 100%;
    height: 615px;
    display: flex;
    z-index: 1;
}
.splash-left{
    width: 530px;
    height: 260px;
    margin-left: 330px;
}
.splash-left h1, h2 {
    color: white;
}
.splash-left button {
    background-color: white;
    text-decoration: none;
    color: #00a82d;
    padding: 25px 40px;
    font-size: 16px;
    font-weight: bold;

}
.splash-left h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 130px;
    line-height: 72px;
    margin-bottom: 20px;
    font-family: Soleil_Medium,Helvetica,Arial,sans-serif;
}
.splash-left h2 {
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 35px;
    font-weight: 100;
}
.splash-nav li{
    list-style-type: none;
    display: flex;

}
 .title {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;


 }
 .splash-nav img {
    width: 80px;
    height: 80px;
 }
 
 .login-button a:hover {
    border: 2px solid limegreen;
    color: limegreen;
    cursor: pointer;
 }

 .splash-buttons {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
 }
 


.splash-nav-left{
    display: flex;
    align-items: center;
    padding-left: 10%;
    
}
.splash-nav-left img {
    margin-top: -15px;

}
.signup-button {
    display: flex;
    align-items: center;
}
 .signup-button a {
    display: flex;
    margin-top: -33px;
    margin-right: 15px;
    align-items: center;
    text-decoration: none;
    font-family: Soleil,Helvetica,Arial,sans-serif;
    color: #21a72c;
   
    
 }
 

  .signup-button a:hover {
      color: limegreen;
      cursor: pointer;
  }
 

 .splash-buttons {
    padding-right: 12%;
    font-family: 'PT Sans', sans-serif;
    
 }
 .splash-buttons p, a {
     margin: 6px;
     
 }
.splash-buttons span {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.login-button a {
    color: #21a72c;
    text-decoration: none;
    padding-bottom: 12px;
    display: flex;
    width: 50px;
    padding-top: 12px;
    border-radius: 4px;
    margin-left: 15px;
    border: 1px solid #00a82d;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 10px;
    margin-top: -28px;
    font-family: Soleil,Helvetica,Arial,sans-serif;
 }
 .login-button {
     margin-top: 25px;
 }
 .splash-right{
    background-image: image-url('homepage-hero-desktop.png');
    z-index: 2;
    height: 395px;
    width: 665px;
    margin-top: 120px;
    margin-left: 50px;
 }