// html{
//     height: 100%;
//     width: 100%;
// }
body {
   
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
}
.username-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.left-nav {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    height: 100%;
    width: 12.5%;
}
.left-nav ul {
    width: 100%;
}
.left-nav li {
    color: #c8c8c8;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-nav a {
    text-decoration: none;
    color: #c8c8c8;
}
.left-nav input {
    background-color: rgb(8, 8, 8);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: white;
    outline: none;
}
.new-note {
    // margin-bottom: 25px;
    justify-content: start;
    cursor: pointer;
    height: 20%;
    display: flex;
    align-items: center;
}
.new-note button{
    border: none;
    color: white;
    height: 100%;
    font-size: 85%;
    background-color: #1a1a1a;
     outline: none;
}
.left-nav li:hover {
    background-color: darkgrey;
    width: 80%;
}
.center-nav {
    display: flex;
    height: 100%;
//    border: 1px solid orange;
    // background-color: whitesmoke;
    width: 100%;
    flex-direction: row;
}

.quill{
    height: 50%;
}
.right-nav {
    display: flex;
    grid-area: 1 / 2/ 3/ 3;
    flex-direction: column;
    // width: 69.5%;
    height: 100%;
    margin-left: 3%;
}


.right-nav button{
    width: 10%;
    outline: none;
}
.right-nav h1 {
    margin-top: 9%;
    // margin-left: 3%;
}
.notebook-title {
    margin-top: 14%;
    font-size: 20px;
    margin-left: 6%;
    
}