// html{
//     height: 100%;
//     width: 100%;
// }
body {
   
    width: 100%;
    height: 100%;
}
.fa-times-circle {
    cursor: pointer;
    margin-right: 10px;
}
.fa-caret-down {
    margin-right: 5px;
}

.fa-caret-right {
    margin-right: 5px;
}
.user-email {
    overflow: hidden;
}
main {
    width: 100%;
    height: 100%;
}
.username-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.left-nav {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    height: 100%;
    width: 240px;
    // min-width: 240px;
}

.username-left-ul{
    width: 220px;
    margin-left: 20px;
}

.username-left-shortcuts-ul {
    width: 220px;
    // margin-left: 20px;
}
// .left-nav ul {
//     width: 100%;
//     padding-left: 5px;
// }
.left-nav li {
    color: #c8c8c8;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-nav a {
    text-decoration: none;
    color: #c8c8c8;
}
.left-nav input {
    background-color: rgb(8, 8, 8);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    margin-left: 10px;
    outline: none;
    width: 85%;
    background-color: darkslategray;
    font-size: 14px;
}
.new-note {
    // margin-bottom: 25px;
    justify-content: start;
    cursor: pointer;
    height: 20%;
    display: flex;
    align-items: center;
}
.left-nav span {
    display:flex;
    flex-direction: row;
}
.new-note button{
    border: none;
    color: white;
    height: 100%;
    font-size: 85%;
    background-color: #1a1a1a;
    outline: none;
}
.left-nav li:hover {
    background-color: darkslategrey;
}
.username-left-notebook-index{
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.center-nav {
    display: flex;
    height: 100%;
//    border: 1px solid orange;
    // background-color: whitesmoke;
    width: 100%;
    flex-direction: row;
}

.quill{
    height: 50%;
}
.right-nav {
    display: flex;
    grid-area: 1 / 2/ 3/ 3;
    flex-direction: column;
    // width: 69.5%;
    height: 100%;
    margin-left: 3%;
}


.right-nav button{
    width: 10%;
    outline: none;
}
.right-nav h1 {
    margin-top: 9%;
    // margin-left: 3%;
}
.notebook-title {
    margin-top: 14%;
    font-size: 20px;
    margin-left: 6%;
}

.user-email:hover{
    color: white;
    cursor: pointer;
}

.shortcut-notebook {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    margin-left: 20px;
    width: 100%;
}

.shortcut-note {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    margin-left: 20px;
    width: 100%;
}

.username-left-notebook-index a {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fa-sticky-note{
    margin-right: 8px;
}
.shortcuts-li{
    cursor: pointer;
}
.fa-ellipsis-h{
    cursor: pointer;
}